<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Home</title>
    <style>
        h1{
            text-align: center;
            padding-top: 40px;
            padding-bottom: 30px;
        }
        p {
            /* color: navy; */
            text-indent: 30px;
            /* text-transform: uppercase; */
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- <img height="20px" width="30px" src=""> -->
        <a class="navbar-brand" href="http://127.0.0.1:8000/">AGNI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/mapview">Map<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/contact">Contact Us</a>
            </li>
          </ul>
          <span class="navbar-text">
            The Forest Fire Predictive Model
          </span>
        </div>
      </nav>

      
      <div class="container" id="content">
        <h1 class="card-title">AGNI - A Forest Fire Predictive Model</h1>
        <p class="card-text">
            AGNI is essentially an interactive map of a predictive model of fire risk for points of interest within cities alongside the West Coast of America. This would be visualized through MapBox for Anaconda and other mapping tools and the decision trees could be implemented through machine learning libraries such as T-GANS and sklearn. Datasets would include shapefiles from NASA's FIRMS (Fire Information for Resource Managment) https://firms.modaps.eosdis.nasa.gov/active_fire/#firms-shapefile and records of fire incidents. Predictive features could include local climate, type of landuse, radius from a fire station, etc.
        </p>
        <p class="card-text">
            Functionalities: We will be incorporating insights such as estimates for loss from fire with tools such as Oasis Loss Modeling Framework We will also be attempting to notify authorities of points of interest and buildings that would be needing inspections
        </p>
        <p class="card-text">
            We are taking a vision from previous ideas and models such as Will Wright's simualation "toys" such as Simcity and applications of predictive machine learning of fire modeling such as Alanta's Firebird project
        </p>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
